.Mastermind {
    height: 1350px;
    width: 1000px;
    margin: 25px auto;
    margin-bottom: 50px;
    padding: 0;
    
    border: 15px double rgb(235, 235, 235);
    border-radius: 25px;

    background: rgb(53, 51, 51, .75);
}

.guess-area {
    flex-grow: 1;
    align-self: flex-start;

    height: 125px;
    margin: 7.5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.guess-preview {
    flex-grow: 1;
    align-self: flex-start;

    height: 125px;
    margin: 7.5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.submit-clear {
    border-width: 0px 5px 5px 0px;
    border-color: transparent rgb(19, 19, 19, .5) rgb(19, 19, 19, .5) transparent;
    border-radius: 10px;
    width: 250px;

    padding: 10px;
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: white;
    background: rgb(22, 22, 22);
}

.submit-clear:active {
    border-width: 0px 2.5px 2.5px 0px;
    border-color: rgb(19, 19, 19, .5);
    background: rgb(34, 34, 34);
    margin-bottom: 2.5px;
}

.start {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    height: 112.2px;
}

.start:active {
    margin-bottom: 10px;
}

.guesses-made {
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.guesses-made:nth-child(2) {
    background: red;
}

.guess-zone {
    align-self: flex-start;
    width: 800px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 125px;
    margin: 10px auto;

    border-radius: 25px;
}

.one {
    background: rgb(41, 41, 41);
}

.two {
    background: rgb(59, 59, 59);
}

.score {
    color: white;
    font-size: 45px;
    font-family: monospace;
}

.score-title {
    color: white;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}

.score-one {
    color: rgb(164, 255, 136);
}

.score-two {
    color: rgb(119, 238, 83);
}

.score-three {
    color: rgb(80, 204, 42);
}

.score-four {
    color: rgb(35, 150, 0);
}

button:focus {
    outline:0;
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;

    border-radius: 100px;
}

.circle-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    border: 5px solid rgba(26, 25, 25, 0.55);
    border-radius: 100px;
}

.circle-lgr {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    margin-top: 10px;

    border: 5px solid rgba(26, 25, 25, 0.55);
    border-radius: 100px;
}

.placeHolder {
    background-color: rgba(39, 38, 38, 0.65);
    border: 5px solid rgba(26, 25, 25, 0.55);
}

.white {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: white;
}

.red {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: rgb(255, 31, 31);
}

.orange {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: rgb(255, 135, 22);
}

.yellow{
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: rgb(255, 255, 41);
}

.green {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: rgb(23, 201, 23);
}

.blue {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: rgb(33, 33, 194);
}

.purple {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: rgb(145, 19, 145);
}

.black {
    border: 5px solid rgba(26, 25, 25, 0.55);
    background-color: black;
}